* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  background-color: #f5f5f5;
  padding-top: 20px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 12px;
}

.chat {
  display: flex;
  border: 1px solid #f5f5f5;
  padding: 10px;
}

.chatContent {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
}

.chatItem {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
  border-bottom: 3px solid #f5f5f5;
  padding: 10px 0px;
  cursor: pointer;
}

.chatItem:hover {
  background-color: #f5f5f5;
}

.chatImg {
  margin-right: 10px;
}

.chatImg img {
  width: 100%;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}

.chatText {
  width: 60%;
}

.chatText h6 {
  margin-bottom: 0;
}

.chatBox {
  width: 25%;
}

.chatList {
  width: 100%;
}

.replyText {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
