* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ffc501;
  font-size: 18px;
  position: sticky;
  z-index: 99;
  width: 100%;
  top: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.imgLogo {
  width: 40%;
  display: inline-block;
}

.imgLogo img {
  width: 100%;
}

.navLogo {
  width: 15%;
}

@media screen and (max-width: 1136px) {
  .navLogo {
    width: 20%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 896px) {
  .navLogo {
    width: 25%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 690px) {
  .navLogo {
    width: 30%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 576px) {
  .navLogo {
    width: 50%;
    margin-left: 10px;
  }
}

.navBar {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

@media screen and (max-width: 1060px) {
  .navBar {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .navBar {
    width: 40%;
  }
}

.navLink {
  color: black;
  text-decoration: none;
}

.navLink:hover {
  color: black;
}

.navLink span:hover {
  opacity: 0.75;
  color: black;
}

.navLink imgLogo:hover span {
  color: black;
}

.navIcons {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navName {
  margin-left: 5px;
}

.imgLogo img:hover {
  opacity: 1;
}

.navIcon {
  height: 27px;
}

.navIcon i {
  margin-right: 10px;
  color: black;
  display: inline;
}

.navIcon i::after {
  color: black;
}

.signTo {
  text-decoration: none;
}

.signTo:hover {
  color: #2d1c18;
}

.btnSign:hover {
  background-color: #f7d106;
  cursor: pointer;
}
.btnSignOut:hover {
  background-color: #e91e63;
  cursor: pointer;
}

.activeNavItem span {
  color: #f7d106;
}

.activeNavItem:hover span {
  color: #f7d106;
}

.showName {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .offCanvasButton {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .offCanvasButton {
    display: block;
  }

  .navBar {
    display: none;
  }

  .imgLogo {
    width: 30%;
  }

  .navName {
    font-size: 20px;
  }

  .navIcons {
    display: none;
  }

  .formControl {
    width: 100%;
    padding: 5px 5px;
  }

  .navItem {
    margin-top: 10px;
  }

  .navOffCanvas span {
    font-size: 20px;
  }

  .signToCanvas {
    color: black;
  }

  .signToCanvas:hover {
    opacity: 0.75;
  }

  .navContent {
    justify-content: space-between;
  }

  .offCanvasButton button {
    background: transparent;
    padding: 5px 10px;
    border: 1px solid black;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }

  .offCanvasButton i {
    color: black;
    font-size: 30px;
  }

  .btnSignCanvas {
    background-color: transparent;
    border: none;
    color: black;
    margin-left: 5px;
    font-size: 20px;
    margin-top: 10px;
  }

  .showName {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
  }

  .showName span {
    font-size: 20px;
  }
}
.navIcon a {
  text-decoration: none;
}
